<nav class="nav">
  <a class="nav-link active" routerLink="./" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
    <a class="nav-link active" routerLink="./profile" routerLinkActive="active"   [routerLinkActiveOptions]="{ exact: true }">Profile</a>

  <!--<a class="nav-link" href="#">Link</a>-->
  <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
</nav>


<!--<nav>-->
  <!--<a routerLink="./" routerLinkActive="active"     [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>-->
  <!--&lt;!&ndash;<a routerLink="./crises" routerLinkActive="active">Manage Posts</a>&ndash;&gt;-->
  <!--&lt;!&ndash;<a routerLink="./heroes" routerLinkActive="active">Manage Heroes</a>&ndash;&gt;-->
<!--</nav>-->
<router-outlet></router-outlet><p>
  <!--admin works!-->
</p>
