<!--export interface Home {-->
<!--target_amount: {-->
<!--currency: string;-->
<!--amount: number;-->
<!--};-->
<!--campaign_location: {-->
<!--country: string[];-->
<!--places: string[];-->
<!--};-->
<!--places: string[];-->
<!--image_urls: string[];-->
<!--_id: string;-->
<!--title: string;-->
<!--description: string;-->


<!--{{dummy?.title}}-->

<!--}-->
<!--<pre>-->


<!--{{postResponses[1]?.title }}-->
<!--{{postResponses[1]?.description}}-->
<!--{{postResponses[1]?.campaign_location?.country}} {{dummy?.campaign_location?.country}}-->
<!--{{postResponses[1]?.places }}-->
<!--{{postResponses[1]?.image_urls }}-->
<!--{{postResponses[1]?._id}}-->

<!--</pre>-->

<!--<pre>-->
<ol *ngFor="let ps of list1">
    <li> {{postResponses[ps]?._id}}</li>
    <li>{{postResponses[ps]?.title }}</li>
    <li>  {{postResponses[ps]?.description}}</li>
    <li>  {{postResponses[ps]?.target_amount?.currency}} {{postResponses[ps]?.target_amount?.amount}}</li>
    <li> {{postResponses[ps]?.campaign_location?.places}} {{postResponses[ps]?.campaign_location?.country}}</li>
    <li>{{postResponses[ps]?.image_urls }}</li>


    <!--{{postResponses[ps]?.campaign_location?.country}} {{dummy?.campaign_location?.country}}-->
    <!--{{postResponses[ps]?.places }}-->
    <!--{{postResponses[ps]?.image_urls }}-->
    <!--{{postResponses[ps]?._id}}-->
</ol>
<!--</pre>-->

<div class="container ">

    <div class="card">
        <div class="card-header">
            We help you take action on issues you care about...
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>No one has ever become poor by giving......</p>
                <footer class="blockquote-footer">Anne Frank , <cite title="Source Title">diary of Anne Frank: the
                    play</cite></footer>
            </blockquote>
        </div>
    </div>

    <br>


    <!--<div *ngFor="let nl of noOfList">-->

    <div class="row">

        <!--<div *ngFor="let ps of list1">-->

        <div *ngFor="let ps of list" class="col-md-6">
            <div *ngIf="postResponses[ps]">
            <div class="card text-center">
                <img class="card-img-top" src="{{postResponses[ps]?.image_urls }}" alt="Card image cap">
                <div class="card-body">
                    <p><a href="#" class="text-dark">
                    <h5 class="card-title">{{postResponses[ps]?.title }}</h5>
                    </a></p>
                    <p class="card-text text-muted">{{postResponses[ps]?.description}}</p>
                    <a class="text-muted">Raised of</a> <strong> {{postResponses[ps]?.target_amount?.currency}} {{postResponses[ps]?.target_amount?.amount}} </strong>
                    <!--<div class="text-center">-->
                        <!--<a href="#" class="btn btn-primary btn-lg active">Donate now</a>-->
                        <!--</div>-->
                        <p class="card-text">
                            <small class="text-muted">{{postResponses[ps]?.campaign_location?.places}} {{postResponses[ps]?.campaign_location?.country}}</small>
                                <br>
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>

            <div *ngIf=" ps%2 < 1">
                 <br>
             </div>
            </div>
    </div>
        </div>

    <br>

    <!--</div>-->


</div>